@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
  --P_BrightBlue: hsl(220, 98%, 61%);
  --D_bg: hsl(235, 21%, 11%);
  --D_wrapper: hsl(235, 24%, 19%);
  --D_font: hsl(234, 39%, 85%);
  --D_font2: hsl(234, 11%, 52%);
  --D_borderHover: hsl(233, 14%, 35%);
  --D_border: hsl(237, 14%, 26%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: "Poppins";
  /* border: blueviolet 1px solid; */
  color: white;
}

body {
  background-color: var(--D_bg);
}

.bg {
  width: 100%;
  height: 15rem;
  background-image: url(/assets/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: -10;
  top: 0;
}

.wrapper {
  width: 40rem;
  margin: 4rem auto;
}

.title-theme {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.title {
  font-size: 2.5rem;
  letter-spacing: 1rem;
  line-height: 1;
}

.theme {
  cursor: pointer;
}

.create-todo {
  display: flex;
  background-color: var(--D_wrapper);
  padding: 1rem 1.2rem;
  border-radius: 0.2rem;
}

.create-todo form {
  display: flex;
  width: 100%;
}

.create-todo form #submit {
  display: none;
}

.checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  padding: 0.5rem;
  margin-right: 1.2rem;
  border-radius: 100%;
  cursor: pointer;
  border: solid 1px var(--D_border);
}

.checkbox:hover {
  border-color: var(--D_borderHover);
}

input {
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--D_font);
}

input:focus {
  outline: none;
}

.second-wrapper {
  margin-top: 1rem;
  border-radius: 0.2rem;
  background-color: var(--D_wrapper);
}

/* list */

.todo,
.empty {
  display: flex;
  align-items: center;
  padding: 1rem 1.2rem;
  border-bottom: 1px solid var(--D_border);
}

.act,
span {
  color: var(--D_font);
  width: 100%;
}

/* bottom */
.bottom {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 1rem 1.2rem;
}

.bottom .left-total,
.bottom .completed-total,
#left-count,
#completed-count {
  color: var(--D_font2);
}

.bottom .filter {
  display: flex;
  justify-content: center;
  gap: 1rem;
  text-align: center;
}

.bottom .filter .option {
  color: var(--D_font2);
  cursor: pointer;
}

.bottom .clear-completed {
  text-align: end;
}

.bottom .clear-completed span {
  color: var(--D_font2);
  cursor: pointer;
}

.bottom .filter .option:hover,
.bottom .clear-completed span:hover {
  color: var(--D_font);
}

#active {
  color: var(--P_BrightBlue);
}

.done,
.hide {
  display: none;
}

.coret {
  text-decoration: line-through 2px;
}

@media (max-width: 800px) {
  .wrapper {
    width: 90%;
  }

  .bottom {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .bottom > * {
    flex: 1 1 50%;
  }

  .left-total,
  .completed-total,
  span {
    font-size: 0.9rem;
  }

  .filter {
    order: 2;
    justify-content: space-between;
    margin-top: 1rem;
    background-color: hsl(235, 21%, 17%);
    border-radius: 0.2rem;
    padding: 0.5rem 0;
  }
}
